ul > li{
    list-style-type: none;
display: inline-block;
margin: 20px;
color: white;
}
.Navbar{
    height: 5rem;
    width: 100vw;
    background-color:black;
    display: grid;
    place-items:center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}
