ul a > li{
    list-style-type: none;
display: inline-block;
margin: 20px;
color: white;
text-decoration: none;

}
.Nav-head{
    height: 5rem;
    width: 100vw;
    background-color:black;
    display: flex;
    place-items:center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}
.Navbar{
    height: 100%;
    display: flex;
    gap: 18rem;
    align-items: center;
    position: relative;
    cursor: pointer;
    
}




@media(max-width:1024px) {
   
    .Navbar{
        height: 100%;
    display: flex;
    gap: 2rem;
    align-items: center;
    position: relative;
    font-size: 12px;
    cursor: pointer;
    
    }
    ul a > li{
        list-style-type: none;
    display: inline-block;
    margin: 4px;
    color: white;
    
    
    }
    .Nav-head{
        height: 5rem;
        width: 100vw;
        background-color:black;
        display: flex;
        place-items:center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        
    }
    
}